@model FinalProject.Models.Collection
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Collection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theme)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User) && User.Identity.Name.ToString() == Model.User_Name)
    {
        <a asp-action="Edit" asp-route-id="@Model.CollectionID">Edit</a>
    }
    | <a asp-controller="Items" asp-action="ShowItems" asp-route-id="@Model.CollectionID">Items</a> |
    <a asp-action="Index">Back to List</a>
</div>
